<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.HungerKitchen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LesiAdsPro">
        <activity
            android:name=".VolunteerManagementBox"
            android:exported="true" />
        <activity
            android:name=".VolunteerManagement"
            android:exported="true" />
        <activity
            android:name=".AssignTask"
            android:exported="true" />
        <activity
            android:name=".AddVolunteering"
            android:exported="true" />
        <activity
            android:name=".viewNewsMain"
            android:exported="true" />
        <activity
            android:name=".person"
            android:exported="true" />
        <activity
            android:name=".AdUpdateDelete"
            android:exported="true" />
        <activity
            android:name=".AdSubmission"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="true" />
        <activity
            android:name=".profile"
            android:exported="true" />
        <activity
            android:name=".AddInventoryFirst"
            android:exported="true" />
        <activity
            android:name=".AddInventorySecond"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>